* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.white-text {
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 35px;
  font-weight: bold;
}

nav h6 {
  font-size: 2rem;
  color: #111111;
  font-weight: bolder;
  opacity: 0.1;
}
.ruloko {
  font-family: "Ruluko", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.archivo {
  font-family: "Archivo", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 3rem;
  background: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-positon: center;
}
.house-repair {
  padding-top: 150px;
  padding-left: 120px;
  width: 90%;
  margin: 0 auto;
  color: white;
}
.house-repair h4 {
  font-size: 30px;
  letter-spacing: 15px;
  font-weight: lighter;
}
.house-repair h1 {
  font-size: 80px;
  font-weight: bolder;
  padding: 20px 0;
}

.house-repair hr {
  height: 10px;
  width: 40%;
  background: #fff;
  border: none;
}
.icons-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 20px 0;
  text-align: center;
}
.icons-container p {
  font-size: 16px;
}
.icons-container img {
  width: 155px;
}
.book-now {
  width: 100%;
  padding: 100px;
  background-color: rgb(235, 230, 230);
  text-align: center;
}

.book-now-container {
  width: 90%;
  margin: 0 auto;
  padding: 100px 0;
}

.book-now-container h5 {
  font-size: 20px;
  color: #999999;
  font-weight: lighter;
  line-height: 1.6;
  padding: 30px;
}
.book-now-container h1 {
  font-size: 45px;
  color: #111111;
  font-weight: bold;
}

.book-now-container p {
  font-size: 25px;
  font-weight: lighter;
  color: #111111;
  padding: 30px;
}

.book-now .button-container input {
  font-size: 15px;
  background-color: #e71a23;
  padding: 16px 42px;
  color: #ffff;
  font-weight: bolder;
  border-radius: 5px;
  border: none;
}

.book-now .button-container input:hover {
  background-color: #b80a13;
  transition: 1.5s;
}

.help {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.help-container {
  display: flex;
  gap: 50px;
  width: 90%;
  margin: 0 auto;
}

.help-container .gallery-1 {
  width: 50%;
  text-align: center;
}

#help .help-container p {
  padding: 90px;
  font-size: 21px;
}

.help-container .gallery-1 .img-container-1 img {
  width: 100%;
}

.help-container .gallery-2 {
  width: 50%;
}

.help-container .gallery-2 h2 {
  font-size: 31px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.help-container .gallery-2 h3 {
  font-size: 25px;
  color: #e71a23;
  padding-bottom: 80px;
}

.help-container .gallery-2 .img-container-1 img {
  width: 100%;
}

.best-quality {
  width: 100%;
  background-color: rgb(209, 201, 201);
}

.best-quality-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.best-quality-container .gallery-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.best-quality-container .gallery-2 h2 {
  font-size: 71px;
  color: #104e92;
}

.best-quality-container .gallery-2 hr {
  width: 100%;
  height: 10px;
  background-color: #e71a23;
  margin: 20px 0;
}

.best-quality-container .gallery-2 p {
  font-size: 23px;
  line-height: 1.6;
}

.best-quality .button-container input {
  font-size: 15px;
  background-color: #e71a23;
  padding: 16px 42px;
  color: #ffff;
  font-weight: bolder;
  border-radius: 5px;
  border: none;
  margin: 20px 0;
}

.best-quality .button-container input:hover {
  background-color: #770b11;
  transition: 1.5s;
}

#services {
  width: 100%;
  padding: 100px 0;
}

.services-container {
  width: 80%;
  margin: 0 auto;
}

.services-container h1 {
  font-size: 60px;
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  justify-content: space-evenly;
}

.service-items {
  width: 20%;
}

.service-items img {
  background-color: red;
  width: 100px;
  border-radius: 50%;
}
.service-text h4 {
  font-size: 20px;
  margin: 20px 0;
}

.service-text p {
  font-size: 23px;
  font-style: italic;
}

#about {
  width: 100%;
  background-color: #104e92;
  padding: 100px 0;
}

.about-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.about-text {
  width: 50%;
  padding-left: 100px;
  padding-top: 100px;
}

.about-text h6 {
  font-size: 25px;
  font-weight: lighter;
}

.about-text h3 {
  font-size: 80px;
  font-weight: bold;
}
.about-text h3 .span-text {
  font-size: 80px;
  font-weight: bolder;
}

.about-container .img-gallery {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.about-container .img-gallery .showcase-1 {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 1rem;
}

.about-container .img-gallery .showcase-2 {
  display: flex;
  gap: 2.5rem;
}

.sub-img img {
  width: 280px;
  height: 260px;
}

#todo {
  width: 100%;
  padding: 100px;
  background-color: rgb(235, 230, 230);
  text-align: center;
}

.todo-container {
  width: 90%;
  margin: 0 auto;
  padding: 100px 0;
}

.todo-container h5 {
  font-size: 20px;
  color: #999999;
  font-weight: lighter;
  line-height: 1.6;
  padding: 30px;
}

.todo-container h2 {
  font-size: 61px;
  color: #111111;
  font-weight: bold;
}

.todo-container p {
  font-size: 30px;
  font-weight: lighter;
  color: #111111;
  padding: 30px;
}

.todo-container .btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.todo-container .btn .button-container-1 .call-btn {
  font-size: 15px;
  background: transparent;
  padding: 16px 42px;
  color: #454545;
  border: 1px solid #4545;
}

#todo .button-container input {
  font-size: 15px;
  background-color: #e71a23;
  padding: 16px 42px;
  color: #ffff;
  font-weight: bolder;
  border-radius: 5px;
  border: none;
}

#todo .button-container input:hover {
  background-color: #b80a13;
  transition: 1.5s;
}
footer {
  align-items: center;
  background-color: gray;
}

@media (max-width: 768px) {
  nav {
    width: 50%;
    padding: 10px;
  }

  header {
    width: 100%;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-content: center;
  }

  .house-repair {
    padding-left: 30px;
  }

  .house-repair h4 {
    font-size: 48px;
  }

  .house-repair h1 {
    font-size: 55px;
  }

  hr {
    width: 80%;
  }

  .icons-container {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 20px 0;
    text-align: center;
  }

  .icons-container p {
    font-size: 20px;
  }
  .icons-container img {
    width: 80px;
  }

  .book-now {
    text-align: center;
    width: 100%;
  }

  .book-now-container {
    width: 90%;
    padding: 2px 0;
    text-align: center;
  }

  .book-now-container p {
    font-size: 18px;
  }

  .book-now-container h5 {
    font-size: 40px;
    padding: 50px 0px;
  }

  .book-now-container h1 {
    font-size: 45px;
  }
  .help {
    width: 100%;
    flex-direction: column;
  }

  .help-container {
    width: 80%;
    flex-direction: column;
  }
  .help .help-container p {
    padding: 9px;
    font-size: 18px;
  }
  .help-container .gallery-1 {
    width: 100%;
  }

  .help-container .gallery-2 {
    width: 100%;
  }

  .help-container .gallery-2 h2 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .help-container .gallery-2 h3 {
    font-size: 35px;
    color: #e71a23;
    padding-bottom: 40px;
  }

  .best-quality {
    width: 100%;
  }

  .best-quality-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }

  .best-quality-container .gallery-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .best-quality-container .gallery-2 h2 {
    font-size: 31px;
  }

  .best-quality-container .gallery-2 hr {
    width: 80%;
  }

  .best-quality-container .gallery-2 p {
    font-size: 16px;
  }

  #services {
    width: 100%;
    padding: 0 50px;
  }

  .services-list {
    flex-direction: row;
  }
  .services-container h1 {
    font-size: 40px;
    margin: 50px 0;
  }

  .service-items {
    width: 40%;
    margin-bottom: 65px;
  }

  #about {
    width: 100%;
  }

  .about-container {
    flex-direction: column;
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .about-text {
    width: 100%;
    padding-left: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .about-text h3 {
    font-size: 37px;
    font-weight: bold;
  }

  .about-text h6 {
    font-weight: lighter;
  }

  .about-container .img-gallery {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .about-container .img-gallery .showcase-1 {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1rem;
    width: 45%;
  }

  .about-container .img-gallery .showcase-2 {
    display: flex;
    gap: 2.5rem;
    width: 45%;
  }

  #todo {
    width: 100%;
  }

  .todo-container {
    width: 100%;
  }

  .todo-container h2 {
    font-size: 30px;
  }

  .todo-container p {
    font-size: 20px;
  }
  todo-container br {
    display: none;
  }

  .todo-container .btn {
    flex-direction: column;
  }
  footer {
    align-items: center;
    background-color: gray;
  }
}

@media (max-width: 430px) {
  nav {
    width: 60%;
    padding: 10px;
  }

  header {
    width: 100%;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-content: center;
  }

  .house-repair {
    padding-left: 30px;
  }

  .house-repair h4 {
    font-size: 25px;
    display: flex;
  }

  .house-repair h1 {
    font-size: 35px;
  }
  hr {
    width: 100%;
  }

  .icons-container {
    display: none;
  }

  .book-now {
    text-align: center;
  }

  .book-now-container {
    width: 100%;
    padding: 2px 0;
    text-align: center;
  }
  .book-now-container p {
    font-size: 16px;
  }

  .book-now-container h5 {
    font-size: 20px;

    padding: 30px 50px;
  }
  .book-now-container p {
    font-size: 16px;
  }
  .book-now-container h1 {
    font-size: 35px;
  }

  .help {
    width: 100%;
    flex-direction: column;
  }

  .help-container {
    width: 100%;
    flex-direction: column;
  }

  #help .help-container p {
    padding: 9px;
    font-size: 16px;
  }

  .help-container .gallery-1 {
    width: 100%;
  }

  .help-container .gallery-2 {
    width: 100%;
  }

  .help-container .gallery-2 h2 {
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .help-container .gallery-2 h3 {
    font-size: 16px;
    color: #e71a23;
    padding-bottom: 40px;
  }

  .best-quality {
    width: 100%;
  }

  .best-quality-container {
    flex-direction: row;
    width: 90%;
  }
  .best-quality-container .gallery-1 {
    padding: 0 50px;
    width: 50%;
  }
  .best-quality-container .gallery-1 ing {
    width: 50%;
  }
  .best-quality-container .gallery-2 {
    padding: 0 50px;
    width: 50%;
  }
  .best-quality-container .gallery-2 h2 {
    padding-top: 30px;
    font-size: 35px;
  }
  .best-quality-container .gallery-2 hr {
    width: 120%;
    background-color: #e71a23;
    margin: 20px 0;
  }

  .best-quality-container .gallery-2 p {
    font-size: 16px;
    line-height: 1.6;
  }
  .best-quality-container .gallery-2 p br {
    display: none;
  }

  #services {
    width: 100%;
    padding: 0 50px;
    text-align: center;
  }

  .services-list {
    flex-direction: column;
    text-align: center;
  }
  .services-container h1 {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .service-items {
    width: 100%;
    margin-bottom: 65px;
  }
  #about {
    width: 100%;
    padding: 50px;
  }

  .about-container {
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 0 50px;
  }

  .about-text {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .about-text h3 {
    font-size: 20px;
    font-weight: bold;
  }
  .about-text h6 {
    font-size: 16px;
    font-weight: lighter;
    display: flex;
  }

  .about-container .img-gallery {
    flex-direction: column;
    width: 100%;
  }
  .about-container .img-gallery .showcase-1 {
    flex-direction: column;
  }

  .about-container .img-gallery .showcase-2 {
    flex-direction: column;
  }

  #todo {
    width: 100%;
  }

  .todo-container {
    width: 100%;
  }

  .todo-container h2 {
    font-size: 20px;
  }

  .todo-container p {
    font-size: 20px;
  }

  .todo-container .btn {
    flex-direction: column;
  }

  #quality .quality-container .gallery-1 img {
    width: 90%;
  }
  footer {
    align-items: center;
    background-color: gray;
  }
}
